.list {
    display: grid;
    gap: 4rem;
    grid-auto-rows: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr))
}

@media (max-width:30rem) {
    .list {
        gap: 12rem;
    }
}